<ion-view view-title="Login">
    <ion-content class="padding">
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Password">
                </label>
                <button class="button button-full button-dark" type="submit">
                    Block Button
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>